<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:beans.properties"/>

    <bean id="animal"
          class="org.example.entity.Cat"
          scope="prototype">

    </bean>

    <bean id="person"
          class="org.example.entity.Person"
          scope="singleton">
        <!--        <constructor-arg ref="animal"/>-->
        <property name="animal" ref="animal"/>
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
    </bean>

</beans>